{%extends "base.html"%}
{%block content%}

<!--<h1> About Page </h1>-->
<div class="card-group">
    <div class="card m-3 rounded"  style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+1" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+2" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+3" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+4" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+5" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+6" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+7" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+8" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
    <div class="card m-3" style="width: 14rem;">
        <img class="card-img-top" src="https://dummyimage.com/575/000/fff.jpg&text=Person+9" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Person Name</h5>
            <p class="card-text">Text written by person to describe person and persons role in team. Said person is also to be the same person as desribed above in image and name.</p>
        </div>
    </div>
</div>


{%endblock%}