{%extends "base.html"%}
{%block content%}

<!--<h1> About Page </h1>-->
<div class="row row-cols-1 row-cols-md-3 g-10 d-flex justify-content-center">
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/contacts/ABsqpluH6Trayo-5AbgT2rqo_ZttyxX7VQLGjPegBFv0_vCkVjsTNvX7=s408-p-k-rw-no" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Marc-Antoine Lemay</h5>
                <h6 class="card-subtitle mb-2 text-muted">Mentor</h6>
                <p class="card-text">
                    <ul>
                        <li>Work at RSi Visual as a Mechanical/Optical Engineer.</li>
                        <li>Went to ETS University in Canada and I was part of the SAE Walking machine club (walking robots) many many years ago</li>
                        <li>Hobby… Work, update our house, building stuff</li>
                        <li>Favorite food is Poutine (Canadian&#39;s delicacy</li>
                    </ul>
                    </p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/a-/AFdZucr_SKt28arZA58parZT_UUb4ANbedZV0PxZJ0Z56w=s408-p-k-rw-no" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Harish Kasuganti</h5>
                <h6 class="card-subtitle mb-2 text-muted">Mentor</h6>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/a-/AFdZucpuAoFBJGXKwpAY1IatAv-ICw6Qev9eeR70k7xj=s408-p-k-rw-no" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Siddharth Kakumanu</h5>
                <h6 class="card-subtitle mb-2 text-muted">Programmer/CAD Design</h6>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/a-/AFdZucqWwM1F_WkExklVM9_k2hJM40WJbpNz4dt59X-unw=s408-p-k-rw-no" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Noah Lemay</h5>
                <h6 class="card-subtitle mb-2 text-muted">Builder/Driver</h6>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh5.googleusercontent.com/BfTpjGObKPqblIuzBkN7Hxbd0XuqYRaRcCu7GleDpdQvARmOy_54XV_llO85CW2qGF7ApzpNf-cMkJmsSANMLekZIlhwNdVC0Xh5HhzUD2UACxyNp7_TxOLexGeIHXN9G6iy8_Pzo-VHP-NNQXUSRV9aYrzjGwwN1KZTv2dsSdKm62KI2kd92CygeA" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shiven Diwakar</h5>
                <h6 class="card-subtitle mb-2 text-muted">Project Manager</h6>
                <p class="card-text">I&#39;m 13 years old and am an 8th grader at McKamy Middle School. I enjoy running, gaming, and exploring new places.  This is my second year participating in FIRST Tech Challenge and my first with The Beep Beep Bunch.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/cm/AATWAfvFJQjr5-Twz5S-vlLWu4qHTdf4cjBF7KCKOvYR73g9xGSU_xFKS93ixdVz_Ljr=s408-p-k-rw-no" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aditi Kasuganti</h5>
                <h6 class="card-subtitle mb-2 text-muted">Designer</h6>
                <p class="card-text">I&#39;m 12 years old, in 7th grade, and go to Mckamy Middle School. I like doing art, mostly drawing, and hanging out with friends. This is my first year in robotics FTC and with the Beep Beep Bunch.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/a-/AFdZucro7FQ33Pcwofnsg_tDkWTeXiPbMNEjGnw0BG9MzA=s408-p-k-rw-no" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Esther Fung</h5>
                <h6 class="card-subtitle mb-2 text-muted">New Recruit</h6>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh4.googleusercontent.com/vv6ysTt2P2n79XiyizFxeOt53HmUrQQjO8BVg84CiGpqN_qErbBO2IXuoq_t5b9xMOUQVkzepj7ozzBT2DPMl8JO83-UkfOvonHBrVuOs7ZHLawCWuxYbTF_mixEUuuggcwe1oq7QOHaux_NF6ziHR0bl2IP8aGXjhPvfTey14OAQYhUuAxC-64v5g" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Iris Lewis</h5>
                <h6 class="card-subtitle mb-2 text-muted">Public Relations</h6>
                <p class="card-text">I&#39;m 12 years old, and a 7th grader at McKamy Middle. I can play the violin, piano, and enjoy artistic swimming. I enjoy reading and writing poetry. This is my first year with the Beep Beep Bunch.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh6.googleusercontent.com/fTuXpHFGFdgTQtztSGvOmKPkFyYzALHhDLdsBULBYq7lvogdEUf4gzeXWlc41_ssAnSqdFwQEGCle6jNBhJFWm-F83B1AyPMJc_9ra5D4bQPtdlLnTg7cCbLwRmtAll8ho-46TcXXHSDoXD43gj0gSUQyyf3hVtNmhOJzaC8mxM3_Gsb4D68Vs3f9g" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reeva Joshi</h5>
                <h6 class="card-subtitle mb-2 text-muted">Builder/Driver</h6>
                <p class="card-text">I&#39;m a 7th grader at Mckamy Middle School. My favorite sport is Volleyball, and I&#39;m on my school team. I have a black belt in Taekwondo and enjoy Art. This is my first year with FTC and the Beep Beep Bunch team.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/cm/AATWAfvMHPSdlhIN44xvacyCbEuYvW1ZzDWRw6YHsQsbVQhQDxVpF7hyZwMOuUGllgHo=s408-p-k-rw-no" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Neil Mishra</h5>
                <h6 class="card-subtitle mb-2 text-muted">Scribe/Public Relations</h6>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/jlMMMqrdjIrg5BwfdTV8HS0wgsh1RVqfTrmKG0IYaB2u9ivUOqPeaRpo1FXP9DCS91LhttmXa9jD7OEYRclVOPUEeBhuPy-6auCPs9dCe3eLqMGDzgAKcmgKHSPU05jFmX04isisEDNkbpjwV9qvp193vrMTvjhog_Hb6l3vb7_78XZzXh7BViaaNw" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Roshan Joseph</h5>
                <h6 class="card-subtitle mb-2 text-muted">Builder/Driver</h6>
                <p class="card-text">I&#39;m a 7th grader at Mckamy Middle school. I play the saxophone, watch football and basketball, and I like Star Wars. My favorite food is pizza.</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}